.comment {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 2rem;
  }

  @media (min-width: 1280px) {
    margin: 0 5rem;
  }

  &__header {
    font-size: 1rem;
    color: #afafaf;
    padding-right: 1.6rem;

    @media (min-width: 1280px) {
      margin-right: 60rem;
    }
  }

  &__overlay {
    display: flex;
  }

  &__title {
    padding: 1rem 0rem 0.5rem 4rem;

    &--box {
      height: 6rem;
      width: 75vw;
      border-radius: 0.25rem;
      margin-left: auto;
      padding-left: 1rem;

      @media (min-width: 768px) {
        width: 50vw;
        height: 3rem;
        margin-right: 4rem;
      }
    }
  }

  &__avatar {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    background-position: 17%;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
      margin-right: 2rem;
    }

    @media (min-width: 1280px) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__button {
    background-image: url(../../assets/icons/add_comment.svg);
    background-position: 3%;
    background-repeat: no-repeat;
    background-color: #0095ff;
    color: white;
    width: 75vw;
    height: 3rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-left: auto;
    font-size: 1.2rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      width: 20vw;
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.divider {
  @media (min-width: 768px) {
    width: 100vw;
  }

  @media (min-width: 1280px) {
    margin-top: 1rem;
  }
}

.comment-Container {
  margin: 1rem;

  @media (min-width: 768px) {
    margin: 2rem;
  }

  @media (min-width: 1280px) {
    margin: 2rem 5rem;
  }
}

.comment-card {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 1280px) {
    margin: 0 3rem;
  }

  &__avatar {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #afafaf;
    margin-right: auto;

    @media (min-width: 1280px) {
      width: 3.5rem;
      height: 3.5rem;
      margin-bottom: 2rem;
      margin-left: -3rem;
      margin-right: 0;
    }
  }

  &__name {
    font-family: avenir-bold;
    font-size: 1rem;
    margin-right: auto;
    margin-top: 1rem;

    @media (min-width: 1280px) {
      margin-left: 2rem;
    }
  }

  &__date {
    font-family: avenir;
    color: #afafaf;
  }

  &__text {
    font-family: avenir;
    margin-bottom: 1rem;

    @media (min-width: 1280px) {
      margin-left: 5.5rem;
    }
  }
}
