@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables";

video {
  width: 100vw;

  @include tablet {
    background-color: black;
    padding: 0 3rem;
  }
}
