@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.upload {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  @include tablet {
    margin: 2rem;
  }

  &__divider {
    margin-left: -1rem;
    margin-right: -1rem;

    @include tablet {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  &__title {
    margin-top: 2rem;
    text-align: left;
    font-family: avenir-demi;
    margin-right: auto;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__thumb-title {
    margin-top: 1rem;
    text-align: left;
    font-family: avenir;
    color: $Secondary-text;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  &__bike {
    width: 90vw;
    border-radius: 0.25rem;

    @include tablet {
      width: 50vw;
    }
  }

  &__hidden {
    display: none;

    @include tablet {
      display: flex;
      margin: 1rem 0;
    }
  }
}

.comment1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;

  @include tablet {
    margin-top: 1rem;
  }

  @include desktop {
    margin-left: 5rem;
    margin-right: 0rem;
    max-width: 80vw;
  }

  &__lable {
    font-family: avenir;
    font-size: 0.8rem;
    color: #afafaf;
    text-align: left;
    margin: 0.75rem 0rem 0.3rem 0rem;

    @include desktop {
    }
  }

  &__title {
    padding: 1rem 0rem 0.5rem 1rem;
    height: 3rem;
    border-radius: 0.25rem;

    @include tablet {
      width: 91vw;
      height: 3rem;
    }

    @include desktop {
      width: 35vw;
      margin-right: 2rem;
    }
  }

  &__description {
    padding: 0rem 0rem 2.75rem 1rem;
    height: 6rem;
    border-radius: 0.25rem;

    @include tablet {
      width: 91vw;
      height: 6rem;
    }

    @include desktop {
      width: 35vw;
      margin-right: 2rem;
    }
  }

  &__overlay {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__button {
    font-family: avenir;
    background-image: url(../../assets/icons/publish.svg);
    background-position: 3%;
    background-repeat: no-repeat;
    background-color: $BrainFlix-blue;
    color: white;
    width: 90vw;
    height: 3rem;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      width: 25vw;
      margin-top: 0.75rem;
      margin-left: 5rem;
      order: 2;
    }

    @include desktop {
      width: 14vw;
      margin-left: auto;
    }
  }

  &__cancel {
    color: $BrainFlix-blue;
    font-size: 1rem;
    margin-top: 2rem;

    @include tablet {
      order: 1;
    }
  }
}
